<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="gfx"
            id="net.winklerweb.cdoxtext.example.Graphix"
            name="Graphix Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="net.winklerweb.cdoxtext.example.Graphix.validate">
         <activeWhen>
            <reference
                    definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="net.winklerweb.cdoxtext.example.Graphix.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="net.winklerweb.cdoxtext.example.Graphix" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="net.winklerweb.cdoxtext.example.Graphix.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="net.winklerweb.cdoxtext.example.Graphix" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="net.winklerweb.cdoxtext.example.Graphix"
            name="Graphix">
            <keywordReference id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"/>
        </page>
        <page
            category="net.winklerweb.cdoxtext.example.Graphix"
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="net.winklerweb.cdoxtext.example.Graphix.coloring"
            name="Syntax Coloring">
            <keywordReference id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"/>
        </page>
        <page
            category="net.winklerweb.cdoxtext.example.Graphix"
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="net.winklerweb.cdoxtext.example.Graphix.templates"
            name="Templates">
            <keywordReference id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="net.winklerweb.cdoxtext.example.Graphix"
            name="Graphix">
            <keywordReference id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"
            label="Graphix"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="net.winklerweb.cdoxtext.example.Graphix.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="net.winklerweb.cdoxtext.example.Graphix.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="net.winklerweb.cdoxtext.example.Graphix.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="gfx">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="gfx">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for net.winklerweb.cdoxtext.example.Graphix -->
	<extension
	        id="graphix.check.fast"
	        name="Graphix Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="graphix.check.normal"
	        name="Graphix Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="graphix.check.expensive"
	        name="Graphix Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="net.winklerweb.cdoxtext.example.Graphix"
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="net.winklerweb.cdoxtext.example.Graphix.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="net.winklerweb.cdoxtext.example.Graphix"
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="net.winklerweb.cdoxtext.example.Graphix.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for net.winklerweb.cdoxtext.example.Graphix -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="net.winklerweb.cdoxtext.example.ui.graphix.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="net.winklerweb.cdoxtext.example.ui.graphix.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="net.winklerweb.cdoxtext.example.ui.graphix.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="net.winklerweb.cdoxtext.example.Graphix.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="net.winklerweb.cdoxtext.example.Graphix"
	        class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="net.winklerweb.cdoxtext.example.Graphix.refactoring"
	        name="Refactoring">
	        <keywordReference id="net.winklerweb.cdoxtext.example.ui.keyword_Graphix"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="net.winklerweb.cdoxtext.example.Graphix.compare.contentViewers"
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="gfx">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="net.winklerweb.cdoxtext.example.Graphix.compare.contentMergeViewers"
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="gfx" label="Graphix Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="net.winklerweb.cdoxtext.example.Graphix.editors.documentProviders"
            class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="gfx">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="net.winklerweb.cdoxtext.example.graphix.xtext.ui.EditElement"
           name="Edit Element">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="net.winklerweb.cdoxtext.example.ui.GraphixExecutableExtensionFactory:net.winklerweb.cdoxtext.example.ui.EditElementHandler"
           commandId="net.winklerweb.cdoxtext.example.graphix.xtext.ui.EditElement">
        <enabledWhen>
           <and>
              <count
                    value="1">
              </count>
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="net.winklerweb.cdoxtext.example.graphix.GraphixElement">
                 </instanceof>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="net.winklerweb.cdoxtext.example.graphix.xtext.ui.EditElement"
              label="Edit Element w/ Xtext"
              style="push">
        </command>
     </menuContribution>
  </extension>

</plugin>
