/.CDOResourceForEditorInputFactory.java._trace
/.CDOXtextDocumentProvider.java._trace
/CDOResourceForEditorInputFactory.java
/CDOXtextDocumentProvider.java
/.CDOXtextElementDocumentProvider.java._trace
/.OriginalInputState.java._trace
/.MyDiffProcessor.java._trace
